body{
	background-image:url(http://ww1.prweb.com/prfiles/2015/06/08/12775382/traceroute.png);
	background-repeat: no-repeat;
	background-size: 2000px;
	font-size: 35px;
}

h1{
	margin: 0px;
	border: 0px;
	padding: 0px;
}
p{
	color: white;
	background-color:black;
	
}